* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161616
}

.App {
  display: flex;
  justify-content: space-around;
}

.block {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
}

.image {
  width: 500px;
  padding: 30px;
}

p, 
h1, 
h2, 
h3, 
button,
span {
  margin: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

p, 
button,
span {
  font-size: 20px;
}

button {
  background-color: #fdeb6b;
  padding: 10px;
  cursor: pointer;
}

.cartIcon {
  width: 70px;
}

.categoryButton {
  padding: 10px;
  transition: .5s ease-in;
  cursor: pointer;
}

.categoryButton:hover {
  background-color: #fdeb6b;;
}

.categoryButtonSelected {
  padding: 10px;
  background-color: green;
}

.icon {
  width: 30px;
}
